{% extends "vege_base.html" %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <form class="col-6 card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Update Recipe</h2>
            <hr>
            <div class="mb-3">
                <label for="receipe_name" class="form-label">Recipe Name</label>
                <input name="receipe_name" value="{{ receipe.receipe_name }}" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="receipe_description" class="form-label">Recipe Description</label>
                <textarea class="form-control" name="receipe_description" required>{{ receipe.receipe_description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="receipe_image" class="form-label">Recipe Image</label>
                <input name="receipe_image" type="file" class="form-control">
                {% if receipe.receipe_image %}
                    <div class="text-center mt-3">
                        <img src="{{ receipe.receipe_image.url }}" alt="Recipe Image" class="img-thumbnail" style="height: 150px;">
                    </div>
                {% endif %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Update Recipe</button>
            </div>
        </form>
    </div>
{% endblock %}
